.app-header {
    min-height: 3.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    background-color: var(--clr4);
    padding: .8rem 1rem;

    & nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        justify-content: space-between;

        font-size: .8em;

        .active {
            color: var(--clr1);
        }

        .logo {
            display: flex;
            align-items: center;
            margin-inline-start: 32px;
            font-size: 1.65em;
            font-family: AirbnbCereal;
            font-weight: 900;
            color: var(--clr1);
            cursor: pointer;
        }

        & button {
            margin-inline-end: 0;
        }

        .logo-img {
            height: 33px;
            width: 50;
            margin-inline-end: 4px;
        }

        .navigation-links a {
            padding: 7px;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.homes-imgs {
    height: 45px;
    width: 40px;
}

.experiences-imgs {
    height: 40px;
    width: 27px;
}

.services-imgs {
    height: 40px;
    width: 55px;
}

.navigation-links{
    display: flex;
    gap: 25px;
    margin: 10px;
    margin-top: 4px;
    margin-bottom: 16px;
    padding-right: 90px;
}

.navigation-links section{
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 14px;
    font-family: AirbnbCereal;
    color: var(--gray-text-color);
}

.navigation-links section:hover{
    cursor: pointer;
    color: rgb(20, 20, 53);
}

.navigation-links section a:hover{
    text-decoration: none;
}

.experiences-section{
    padding-left: 13px;
}