.login-page {
  border: 1px solid var(--gray-3);
  border-radius: 0.75rem;
  position: relative;
  max-width: 35.5rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: auto;

  .page-title {
    min-height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-block-end: 1px solid var(--gray-3);
  }

}
.login-Sign-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .login-Sign-row {
    display: flex;
    flex-direction: column;
    margin: 0.625rem 0 1.125rem 0;

    label {
      color: #7f736b;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      line-height: 1.57142em;
      padding-inline-end: 0.75rem;

      span {
        color:var( --rad-1-);
      }
    }

    input {
      border: 1px solid var(--blue--4);
      padding: 8px;
      border-radius: 3px;
      padding-inline: 11px;
    }

    input:hover {
      box-shadow: 0 0 1px #c0c4cc inset;
    }

    input:focus-visible {
      border: none;
      box-shadow: 0 0 0 2px rgba(255, 75, 43, 0.2);
    }
  }

  .or-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    span {
      color: rgb(96, 98, 102);
      font-size: 1rem;
    }
  }
  .or-container::before,
  .or-container::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  .or-container:not(:empty)::before {
    margin-right: 10px;
  }
  .or-container:not(:empty)::after {
    margin-left: 10px;
  }

  .log-btn {
    width: 100%;
    padding-block: 15px 20px 12px 20px;
    background-image: var(--colorful-btn);
    background-position: var(--colorful-btn-position);
    color: var(--white-bg-btn);
    border-radius: 5px;
    margin: 0;
  }

  .btn {
    width: 100%;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid var( --blue--4);
    padding: 10px 24px;
  }
  .btn:hover {
    border-color:var(  --blue--3);
    color: var(--blue--base-);
    background-color:var(  --blue--5);
  }

  .img {
    display: flex;
    background-color: var(--blue--base-);
    padding: 8px;
    margin-inline-start: 3px;
    align-self: self-start;
    cursor: pointer;
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    margin: 0.625rem 0 1.125rem 0;

    label {
      cursor: pointer;
      color: #ecf5ff;
      font-size: 1rem;
    }

    input {
      display: none;
      cursor: pointer;
    }
  }
}


/* כפתור Google */
.google-btn {
  width: 100%;
  padding: 12px;
  background-color: #DB4437; /* צבע Google */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  transition: background-color 0.2s;
}

.google-btn:hover {
  background-color: #c1351d;
}

.facebook-btn {
  width: 100%;
  padding: 12px;
  background-color: #4267B2; 
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  transition: background-color 0.2s;
}

.facebook-btn:hover {
  background-color: #375899;
}

.google-btn i,
.facebook-btn i {
  margin-right: 8px;
  font-size: 1rem;
}
