.small-footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 1em 0;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        span {
            font-size: 13px;
        }
    }

    section:hover{
        cursor: pointer;
    }
}

.footer-imgs {
    width: 22px;
}

.page-selected{
    span{
        color: var(--clr1);
    }

    .footer-imgs{
        color: red !important;
    }
}

@media (min-width: 750px) {
    .small-footer {
        display: none;
    }
}

@media (max-width: 750px) {
    .small-footer {
        position: sticky;
        bottom: 0;
    }
}