.trips {
    display: grid;
    grid-template-columns: 7% 33% repeat(6, 10%);
    align-content: start;
    gap: 6px;
}

.trips-container {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    gap: 6px;
}

.trips-title {
    font-family: AirbnbCereal-Bold;
    font-size: 1.8rem;
    margin-top: .5em;
}

.trips-length {
    margin: .6em 0;
}

.trip {
    position: relative;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    margin-bottom: 15px;
}

.trips-headers {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    margin-bottom: 20px;
}

.trips-headers span {
    display: flex;
    align-items: center;
    color: rgb(168, 168, 168);
    font-size: .9rem;
    font-family: AirbnbCereal-Bold;
}

.destination-header {
    margin-right: 20em;
}

.trip-host,
.trip-price {
    color: rgb(81, 81, 81);
}

.trip-checkIn,
.trip-checkOut,
.trip-guests {
    color: grey;
}

.trip::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #dfdfdf;
    top: -10px;
}

.trip-img {
    height: 60px;
    width: 100px;
    border-radius: 10px;
}

.trip-status,
.status-header {
    margin-right: 3rem;
}

.sort-arrows {
    display: inline-flex;
    flex-direction: column;
    margin-left: 4px;
    font-size: 0.7em;
    line-height: 0.8em;
}

.arrow {
    color: gray;
    font-size: 0.6em !important;
}

.arrow.active {
    color: var(--clr1);
}

.check-in-header:hover,
.check-out-header:hover,
.guests-header:hover,
.price-header:hover,
.status-header:hover {
    cursor: pointer;
}

.trip-status.approved {
    color: green;
}

.trip-status.rejected {
    color: red;
}

.small-headers {
    display: none;
}

@media (max-width: 1070px) {
    .trips {
        grid-template-columns: 1fr;
    }

    .trips-headers {
        display: none;
    }

    .trips-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 0;
        justify-content: start;
    }

    .trip {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 10px;
        width: 90%;
        grid-column: auto;
        align-items: start;
    }

    .trip-img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
    }

    .trip-name {
        font-size: 1rem;
        font-family: AirbnbCereal-Bold;
        margin: .6em 0;
    }

    .trip-host,
    .trip-checkIn,
    .trip-checkOut,
    .trip-guests,
    .trip-price,
    .trip-status {
        font-size: 0.85rem;
        color: #aaaaaa;
        display: block;
    }

    .trip-status {
        justify-self: start;
        margin: 0;
        margin-top: 4px;
    }

    .trip::before {
        display: none;
    }

    .small-headers {
        display: inline;
        font-family: AirbnbCereal-Bold;
        font-size: .9rem;
        color: #676767;
    }

    .order-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        margin: 2px;
    }
}

