/* MOBILE */
@media (max-width: 375px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

/* SMALL */
@media (min-width: 375px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

}

/* MEDIUM */
@media (min-width: 750px) {
  .small-header {
    display: none;
  }
}

@media (max-width: 750px) {
  .app-header {
    display: none;
  }

  .small-header {
    display: block;
  }
}

/* LARGE */
@media (min-width: 950px) {
  .logo-span {
    opacity: 1 !important;
  }
}

/* XLARGE */
@media (min-width: 1128px) {
}
