
@font-face {
    font-family: AirbnbCereal;
     src: url('../../fonts/AirbnbCereal/AirbnbCereal_W_Bk.otf');    
}
@font-face {
    font-family: AirbnbCereal-Bold;
     src: url('../../fonts/AirbnbCereal/AirbnbCereal_W_Bd.otf');    
}

