:root {
  --clr1: #fe385c;
   --clr2: rgb(34, 34, 34);
  
  --gray-btn: #f1f1f1;
  --gray-filter: #eaeaea;
  --gray-footer: #f6f6f6;
  --gray-text-color: rgb(106, 106, 106);
  --gray-icon:#747474;
  --white-bg-btn:#ffffff;
  --black-btn:#222222;
  --gray-p: #6a6a6a;;
  
}

