:root {
  --clr1: #fe385c;
   --clr2: rgb(34, 34, 34);
  
  --gray-btn: #f1f1f1;
  --gray-filter: #eaeaea;
  --gray-footer: #f6f6f6;
  --gray-text-color: rgb(106, 106, 106);
  --gray-icon:#747474;
  --white-bg-btn:#ffffff;
  --black-btn:#222222;
  --gray-p: #6a6a6a;

/* LOGIN */
  --blue-form:#dcdfe6;
  --colorful-btn:radial-gradient(circle, #ff385c 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
  
}

