:root {
  --clr1: #fe385c;
  /* --clr2: #4f3a65;
  --clr3: #574f7d; */
  --clr4: #f1f1f1;
  --clr5: #fefefe;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray-btn: #f1f1f1;
  --gray-filter: #eaeaea;
  --gray-footer: #f6f6f6;
  --gray4: #333;
  /* --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333; */

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);
}