.review-list {
  padding-block: 48px;
  border-block-start: 1px solid #dddddd;

  .review-rate {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-block-end: 1px solid #dddddd;
    gap: 20px;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 30px;
      padding-bottom: 4px;
      font-size: 16px;
    }

    > *:not(:last-child) {
      border-inline-end: 1px solid #dddddd;
    }

    img {
      width: 32px;
    }
  }

  .list-title {
    font-size: 1.625rem;
    padding-block-end: 40px;

  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 10px;
    gap: 1rem;

    >*:not(:last-child){
      border-right: 1px solid grey;
      padding-right: 10px;

    }

  }

  .review-btn {
    width: fit-content;
    padding: 14px 24px;
    font-size: 1rem;
    margin: 8px 0 0;
  }
}

ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 750px) {
  .review-list {
    .review-rate {
      display: none;
    }
  }
}

@media (min-width: 750px) {
  .review-list .list {
    grid-template-columns: repeat(auto-fill, minmax(445px, 1fr));
    grid-gap: 40px 30px;
    grid-auto-flow: row;

    >*:not(:last-child){
      border-right: none;
    }
  }
}

@media (min-width: 950px) {
}
