.review-list {
  padding-block-start: 48px;
  border-block-start: 1px solid #dddddd;

  .list-title{
    font-size: 1.625rem;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 30px;
  }


}
