.rdp-range_end .rdp-day_button {
  background-color: black;
  border: none;
}

.rdp-range_start .rdp-day_button {
  background-color: black;
  border: none;
}

.rdp-day_button:hover {
  border: 1px solid black;
  background-color: transparent;
}

.ReactModal__Overlay {
  z-index: 3 !important;
}

.airbnb-calendar {
  display: flex;
  justify-content: center;
}

.rdp-caption {
  width: 100%;
  text-align: center !important;
  justify-content: center !important;
}

.rdp-caption_label {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.rdp-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: -8px;
  left: 0;
  padding: 0 1em;
  box-sizing: border-box;
}

.rdp-chevron {
  fill: black;
}