.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  background-color: white;
  padding: 2.5em;
  border-radius: 40px;
  max-width: 850px;
  position: absolute;
  top: 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 4;
  width: 100%;
}

.airbnb-calendar {
  display: flex;
  justify-content: center;
}

.rdp-range_end .rdp-day_button,
.rdp-range_start .rdp-day_button {
  background-color: black !important;
  border: none;
}

.rdp-day_button {
  background-color: transparent !important;
}

.rdp-day_button:hover {
  border: 1px solid black;
  background-color: transparent !important;
}

.rdp-caption {
  width: 100%;
  text-align: center !important;
  justify-content: center !important;
}

.rdp-caption_label {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.rdp-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: -8px;
  left: 0;
  padding: 0 1em;
  box-sizing: border-box;
}

.rdp-chevron {
  fill: black;
}

.rdp-button_next {
  background-color: transparent !important;
}

.rdp-button_previous {
  background-color: transparent !important;
}

.rdp-months {
  flex-wrap: nowrap;
}

.rdp-nav{
  z-index: 9;
}

.rdp-range_end .rdp-day_button, .rdp-range_start .rdp-day_button:hover{
  background-color: black !important;
}
