.details-date-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 3;
}

.details-date-modal-content {
  background-color: white;
  padding: 2.5em;
  border-radius: 40px;
  position: absolute;
  top: 135px;
  right: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 4;
}