.details-guests-modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 3;
}

.details-guests-modal-content {
    position: absolute;
    background-color: white;
    padding: 2em 2.5em;
    padding-bottom: 1em;
    border-radius: 30px;
    top: 195px;
    right: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 4;
    width: 100%;
}

.btns-guests {
    display: flex;
    align-items: center;
    gap: 7px;
}

.details-desc-guests {
    font-size: 0.8em;
    color: #555;
}

.details-type-guests {
    font-weight: 700;
    text-transform: capitalize;
}

.details-guest-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 10px;
}

.btn-count {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    border-radius: 50%;
    padding: 10px;
}

.btn-count:hover {
    background-color: transparent !important;
    border: 1px solid black;
    color: black;
}

.svg-image {
    width: .6rem;
}