.stay-description {
  margin-top: 32px;

  > * {
    border-block-end: 1px solid #dddddd;
    font-size: 14px;
  }

  .stay-info {
    font-size: 16px;
    padding-block-end: 32px;

    .reviews {
      margin-block-start: 8px;
    }

    h2 {
      font-size: 1.571428em;
    }
  }

  .host {
    padding-block: 24px;
    gap: 24px;
    img {
      border-radius: 50%;
      width: 40px;
    }
    p {
      color: var(--gray-p);
    }
  }

  .gest-check-in {
    flex-direction: column;
    gap: 20px;
    padding-block: 32px;

    p {
      color: var(--gray-p);
    }

    article {
      gap: 20px;
      padding-inline-start: 6px;
      justify-content: flex-start;
      align-items: flex-start;

      .icon {
        width: 40px;
        height: 24px;

        img {
          width: 24px;
          height: 40px;
        }
      }
    }
  }
  .summary {
    padding-block: 32px;
    text-transform: capitalize;
  }
}
