.stay-preview {
    background-color: transparent;
    color: #000;
    border: none;
    /* display: block; */
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    font-size: .9375rem;
    margin: 0;

    .stay-img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1.053 / 1;
        height: auto;
        vertical-align: bottom;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: pink;
    }

    .preview-info {
        margin-top: 12px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "name rating"
            "host host"
            "dates dates"
            "price price";
        gap: 2px 8px;
        padding-inline: 4px;

        .preview-name {
            grid-area: name;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .preview-stay-with {
            grid-area: host;
        }

        .preview-rate {
            grid-area: rating;
            place-self: end;
        }

        .preview-dates {
            grid-area: dates;
        }

        .preview-price {
            grid-area: price;
        }

    }
}