.small-filter {
    cursor: pointer;
    display: flex;
    background-color: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
    font-family: AirbnbCereal;
    width: 370px;
    margin: 0 auto;
    font-size: 14px;
}

.small-filter section {
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.small-filter section:not(:nth-last-child(-n+2))::after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: 0;
    width: 1px;
    background-color: #ccc;
}

.btn-search-small {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr1);
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 0;
    padding: 0;
}

.homes-small-filter{
    height: 30px;
    width: 30px;
}

.btn-search-small:hover{
    background-color: var(--clr1);
}