.stay-details {
  /* position: relative; */
  justify-content: center;
  > * {
    grid-column: 2;
  }

  .main-details {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) minmax(250px, 1fr);
    gap: 3rem;

    &:first-child {
      grid-column: 1;
    }
  }
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    background-color: var(--white-bg-btn);
    border-block-end: 1px solid #dddddd;

    > * {
      grid-column: 2;
    }

    .nav-list {
      font-size: 15px;
      font-weight: 500px;
      gap: 15px;
      align-items: center;

      > * {
        padding-block: 30px;
      }

      > *:hover {
        box-shadow: inset 0 -5px black;
        cursor: pointer;
      }
    }
  }
}

.active {
  display: block;
}
.non-active {
  display: none;
}
