.stay-filter {
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    font-family: AirbnbCereal;
    max-width: 850px;
    margin: 22px auto;
    position: relative;

    form {
        display: flex;
        width: 100%;
        align-items: center;
        border-radius: 50px;
    }

    section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 0.8em 1.4em;
        background-color: white;
        border-radius: 50px;
        cursor: pointer;
        height: 100%;
    }
}

.check-in {
    flex: .45 !important;
    margin-left: 0 3px;
    padding-right: 35px !important;
}

.check-in::before {
    content: "";
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: -5px;
    width: 2px;
    background-color: #ccc;
}

.check-out {
    flex: .45 !important;
    margin-left: 0 3px;
    padding-right: 40px !important;
}

.search {
    margin-right: 3px;
    padding-right: 65px !important;
}

.check-out::before {
    content: "";
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: -6px;
    width: 2px;
    background-color: #ccc;
}

.guests {
    flex: 1.3 !important;
    align-items: center;
    padding: 0 !important;
    padding-left: 1em !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    margin-left: 3px;
}

.guests::before {
    content: "";
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: -13px;
    width: 2px;
    background-color: #ccc;
}

.check-in span,
.check-out span,
.guests span,
.search span {
    color: gray;
    font-size: 0.89rem;
}

.stay-filter section:hover {
    background-color: #ebebeb;
}

.stay-filter h5 {
    font-size: 0.7rem;
    font-weight: 700;
    color: #222;
    margin: 0 0 0.2em 0;
}

.stay-filter input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.89rem;
    padding-left: 14px;
    width: 100%;
}

.search h5 {
    padding-left: 14px;
}

.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr1);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 0.6em;
}

.btn-search:hover {
    background-image: linear-gradient(to right, #ff385c, #bd1e59);
}

.btn-clear img {
    height: 10px !important;
    width: 50px !important;
}

.selected {
    background-color: white !important;
}

.not-selected {
    background-color: #ebebeb !important;
}

.not-selected:hover {
    background-color: #d7d7d7 !important;
}

.form-active {
    background-color: #ebebeb !important;
}

.btn-search-selected {
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to right, #ff385c, #bd1e59);
}