.stay-description {
  margin-top: 32px;

  > * {
    border-block-end: 1px solid #dddddd;
    font-size: 14px;
  }

  .stay-info {
    font-size: 16px;
    padding-block-end: 32px;

    .reviews {
      margin-block-start: 8px;
    }

    h2 {
      font-size: 1.571428em;
    }
  }

  .host {
    padding-block: 24px;
    gap: 24px;
    img {
      border-radius: 50%;
      width: 40px;
    }
    p {
      color: var(--gray-p);
    }
  }

  .gest-check-in {
    flex-direction: column;
    gap: 20px;
    padding-block: 32px;

    h3 {
      font-size: 14px;
    }

    p {
      color: var(--gray-p);
    }

    article {
      gap: 13px;
      padding-inline-start: 6px;

      .icon {
        width: 40px;

        img {
          width: 24px;
        }
      }
    }
  }

  .summary {
    padding-block-start: 32px;
    padding-block-end: 48px;
    /* text-transform: capitalize; */

    button {
      margin: 16px 0 0;
      padding: 14px 24px;
      font-size: 1rem;
      font-family:AirbnbCereal ;
    }
  }
}
