.stay-filter {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 .5em;
    background-color: white;
    padding: .5em;
    border-radius: 30px;
}

.stay-filter section{
    display: flex;
    flex-direction: column;
}

.stay-filter button{
    border-radius: 50%;
}