.stay-reservation {
    position: sticky;
    top: 100px;
    border-radius: 12px;
    padding: 20px;
    height: max-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 2rem 0 3rem 0;
    min-width: 260px;

    .reservation-header {
        margin-bottom: 16px;

        .price {
            font-family: AirbnbCereal-bold;
            font-size: 24px;
        }
    }

    .reservation-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 16px;
        border: 1px solid #999696;
        border-radius: 8px;
        position: relative;

        >div {
            padding: 10px;

            label {
                font-family: AirbnbCereal-bold;
                font-size: 10px;
                color: rgb(34, 34, 34);
            }
        }

        div:nth-child(2) {
            border-bottom: 1px solid #999696;
        }

        div:first-child {
            border-right: 1px solid #999696;
            border-bottom: 1px solid #999696;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 2rem;
            cursor: pointer;
        }

    }

    .reservation-prices {
        p:not(:last-child) {
            margin-bottom: 1rem;
        }

        hr {
            margin-bottom: 1.5em;
        }

        .nights-info,
        .cleaning-fee {
            text-decoration: underline;
        }
    }

    .reserve-btn {
        width: 100%;
        background-image: radial-gradient(circle, #ff385c 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        background-size: 200% 200%;
        color: white;
        padding: 14px;
        font-size: 16px;
        border-radius: 999px;
        margin: 0 auto;
        transition: background 0.2s ease;

        &:hover {
            background-image: radial-gradient(circle, #ff385c 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
            background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
            background-size: 100% 100%;
        }
    }

    .note {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 14px;
        text-align: center;
    }
}