.stay-amenities {
  padding: 48px 0;
  h2 {
    font-size: 1.375em;
    padding-block-end: 24px;
  }

  .amenities-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(234px, 1fr));
  }
  .icon {
    padding-block-end: 24px;
    gap: 15px;
    align-items: center;

    img{
      width: 24px;
    }
  }
}
